<?xml version='1.0' encoding='utf-8'?>
<widget id="org.puge.daka" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://puge.org/">
    <name>大咖打卡</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="mail@puge.org" href="https://github.com/PUGE">PUGE</author>
    <content src="http://dakadaka.net/index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="StatusBarBackgroundColor" value="#ffffff" />
    <preference name="BackgroundColor" value="#ffffff"/>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
